/* @import './variables.css'; */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Добавь это правило */
button, input, select, textarea {
  font-family: inherit;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter Tight", system-ui, -apple-system, sans-serif;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 1rem;
}