/* @import './variables.css'; */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Geist", system-ui, sans-serif;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 1rem;
}